@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');


.product {
    width: 100%;
    display: block;
    padding: 15px;
    border: 3px solid #33d9b2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #1e1e42;
}

.product h1{
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: #f7f1e3;
    font-family: "Press Start 2P";
}

.title{
    display: inline-block;
    text-align: left;
    width: 80%;
    color: #f7f1e3;
    font-family: "Press Start 2P";
}

.price {
    text-align: right;
    display: inline-block;
    font-family: "open sans";
    width: 20%;
    color: #f7f1e3;
}

.price h1{
    font-family: "Press Start 2P";
    font-weight: 400;
    font-size: 14px;
    color: #f7f1e3;
}


.description {
    font-size: 14px;
    font-family: "open sans" ; 
}

.console-tag{
    width: 100%;
    display: inline-block;
    text-align: left;
    align-content: space-between;

}

.console-tag p{
    display: inline-block;
    padding-top: 15px;
    font-family: "Press Start 2P";
    color: white;
    font-style: italic;
    font-size: 8px;
    color: #706fd3
}

.product .img{
    position: relative;
    width: 100%;
    height: 210px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid #706fd3;
}

.product .img img{
    width: 100%;
}
