.content{
    background-color: #212529;
}
.productDetail{
    
    align-items: center;
    width: 60%;
    padding-bottom: 100px;
    background-color: #212529;
    color: white;
}

.description {
    color: white;
    padding-bottom: 20px;
}
.productDetail h1{
    font-family: "Press Start 2P";
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: White;
}

.productDetail img {
    display: block;
    align-self: center;
    width: 100%;
    padding-bottom: 10px;
    
}

.img {
    display: block;
    padding-top: 0px;
    width:100%;
}

.itemCount{
    display: flex;
    width: 100%;
    justify-content: center;
}



