@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');


.product {
    width: 100%;
    display: block;
    padding: 15px;

    border-right: 5px solid #101314;
    border-bottom: 5px solid #101314;
   
    transition: 0.3s;
    background-color: #414b52;
}

.product:hover {
 
    transform: translate(0, -10px);

    
  }

.product h1{
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: white;
    font-family: "Press Start 2P";
}

.title{
    display: inline-block;
    text-align: left;
    width: 70%;
    color: white;
    font-family: "Press Start 2P";
}

.price {
    text-align: right;
    display: inline-block;
    font-family: "open sans";
    width: 30%;
    color: white;
   
}
.price i{
    display: inline-block;
  
}
.price h1{
    font-family: "Press Start 2P";
    font-weight: 400;
    font-size: 14px;
    color: white;
}


.description {
    font-size: 14px;
    font-family: "open sans" ; 
}

.console-tag{
    width: 100%;
    display: block;
    text-align: center;
    padding-right: 5%;
}

.console-tag p{
    font-family: "Press Start 2P";
    color: white;
    font-style: italic;
    font-size: 8px;
    color: #a4b0be
}

.product .img{
    position: relative;
    width: 100%;
    height: 210px;
    overflow: hidden;
    margin-bottom: 10px;
    border-right: 3px solid #101314;
    border-bottom: 3px solid #101314;

}

.product .img img{
    height:  100%;
    width: 100%;
}

.snes-logo{
    transform: scale(0.5)

}