.content{
    background-color: #2C2C54;
}
.productDetail{
    align-items: center;
    width: 60%;
    padding-bottom: 100px;
    background-color: #2C2C54;
}

.productDetail img {
    display: block;
    align-self: center;
    width: 100%;
    padding-bottom: 10px;
    
}

.img {
    display: block;
    padding-top: 0px;
    width:100%;
}