@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Zen+Dots&display=swap');

.navbar {
    padding: 20px;
    max-width: 85%;
    margin: auto;
    border-bottom: 1px solid #68e941;
    align-content: center;
    justify-content: center;
    margin-bottom: 80px;
    font-family: "Press Start 2P";
  }
  .navbar .logo {
    display: inline-block;
    color: White;
    font-family: "Press Start 2P";
  }

  .logo-img{
    width: 130px;
  }
  .navbar p:hover {
    color: #b5b5e7;
  }

  .navbar .cart{
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    font-family: "Press Start 2P";
  }



  .navbar .qty-cart{
    font-family: "Press Start 2P";
    margin-top: 15px;
  }