.searchbar{
    text-align: center;
    padding-bottom: 50px;
}

.links{
    display: inline-block;
}

.links p{
    display: inline-block;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px solid #40407A;
}

.links p:hover {
    color: #b5b5e7;
    transform: translate(0, -5px);
    border-bottom: 1px solid #40407A;
  }