

.container{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    font-family: 'Press Start 2P';
    
    
    
}
.item{
    display: block;
    margin: auto;
    width:25%;
}

.row{
    display: block;
    width: 100%;
    border-right: 3px solid #101314;
    border-bottom: 3px solid #101314;
    padding: 20px;
    font-family: 'Press Start 2P';
    background-color: #414b52;
}

.title{
    display: inline-block;
    font-family: 'Press Start 2P';
}

.qty{
    display: inline-block;
    margin: 5px
}

.price{
    display: inline-block;
}

.btns{
    display: flex;
    margin: auto;
    margin-top: 20px;
    align-self: center;
    text-align: center;
    background-color: #212529;
    padding-bottom: 100px;
}
.btns p{
    font-family: 'Press Start 2P';
    
    background-color: #212529;

}

.total{
    border-right: 3px solid #4aa52e;
    border-bottom: 3px solid #4aa52e;
    background-color: #44dd15;
    margin-top: 20px; 
    padding-top: 20px; 
    text-align: center;
}

.inputs{
    color: black;
    display: block;
    align-self: center;
    text-align: center;
    margin: auto;
}