

.container{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    font-family: 'Press Start 2P';
}
.item{
    display: block;
    margin: auto;
    width:25%;
}

.row{
    display: block;
    width: 100%;
    border-top: 3px solid #68e941;
    padding: 20px;
    font-family: 'Press Start 2P';
}

.title{
    display: inline-block;
    font-family: 'Press Start 2P';
}

.qty{
    display: inline-block;
    margin: 5px
}

.price{
    display: inline-block;
}

.btns{
    display: flex;
    margin: auto;
    margin-top: 20px;
    align-self: center;
    text-align: center;
}
.btns p{
    font-family: 'Press Start 2P';
}

.total{
    border-top: 3px solid #68e941;
    margin-top: 20px; 
    padding-top: 20px; 
    text-align: center;
}

.inputs{
    color: black;
    display: block;
    align-self: center;
    text-align: center;
    margin: auto;
}